.App {
  font-family: 'Merriweather', serif;
  text-align: center;
  height: 100vh;
  letter-spacing: 2px;

}


.logo{
  width: 20%;
  margin: 0;
  border: 0;
}

.OriHead{
  position: static;
  background-image: url("./ori.png");
  width:20%;
  height: 200px;
  z-index: 5000;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin: 0 auto;
}
.OriHead:hover{
  background-image: url("./ori2.png");
}

.App-header {
  font-size: 35px;
  color: white;
  margin: 0;
  height: 45%;
  padding: 5px;
  background-color: #1F8ECD;
}

.Answer {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #878685;
  font-style: italic;
  text-transform: capitalize;
}

.BuildInto {
  background-color: rgba(1, 17, 17, .9);
  box-shadow: 5px 5px 10px rgba(0, 168, 167, 0.65);
  border: 2px solid #26a69a;
  overflow: auto;
  overflow-y:hidden;
  white-space: nowrap;
  border-radius: 5px;
  height: 130px;
}
.BuildIntoText{
  text-align:left;
  color: #FFCA5C;
  font-size: 12.5px;
  margin-left: 3px;
}

.Shop {
  background-color: rgba(1, 17, 17, .9);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin: 0 auto;
  box-shadow: 5px 5px 10px rgba(0, 168, 167, 0.65);
  border: 2px solid #26a69a;
  border-radius: 5px;
  min-height: 350px;
}

.ShopText{
  text-align:left;
  color: #FFCA5C;
  font-size: 13px;
  margin-left: 3px;
}

.Footer{
  position:static;
  margin-top: 30px;
  bottom: 0px;
  font-size: 8px;
  width: 100%;
}

.Input-line {
  color: black;
  margin: 20px 20% 0 20%;

}

:required {
  background: red;
}

input:enabled {
  box-shadow: 4px 4px 10px rgba(0, 168, 167, 0.65);
}

.User-input {
  font-size: 30px;
  color: #595c5e;
}
input{
  font-size: 3rem;
}
