.App {
  font-family: 'Merriweather', serif;
  text-align: center;
  height: 100vh;
  letter-spacing: 2px;

}


.logo{
  width: 20%;
  margin: 0;
  border: 0;
}

.App-header {
  font-size: 35px;
  color: white;
  margin: 0;
  height: 45%;
  padding: 5px;
  background-color: #1F8ECD;
}

.Answer {
  font-size: 20px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.BuildInto {
  background-color: rgba(1, 17, 17, .9);
  border: 2px solid #26a69a;
  overflow: auto;
  overflow-y:hidden;
  white-space: nowrap;
  border-radius: 5px;
  height: 120px;
}
.BuildIntoText{
  text-align:left;
  color: #FFCA5C;
  font-size: 12.5px;
  margin-left: 3px;
}

.Shop {
  background-color: rgba(1, 17, 17, .9);
  border: 2px solid #26a69a;
  border-radius: 5px;
  min-height: 350px;
}

.ShopText{
  text-align:left;
  color: #FFCA5C;
  font-size: 13px;
  margin-left: 3px;
}

.Footer{
  position:static;
  margin-top: 30px;
  bottom: 0px;
  font-size: 8px;
  width: 100%;
}

.Input-line {
  color: black;
  margin: 20px 20% 0 20%;

}

:required {
  background: red;
}

input:enabled {
  box-shadow: 4px 4px 10px rgba(0, 168, 167, 0.65);
}

.User-input {
  font-size: 20px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
